<!DOCTYPE html>
<html>
    <head>
        <title>Software Chasers</title>
    </head>
    <body>
        <h1>Locate IPv4/IPv6 Address</h1>
        <h3>Your Public Address: {{ip}}</h3>
        <table border="1">
            {% for key, value in result.items() %}
            <tr>
                <th>{{ key }}</th>
                <th>{{ value }}</th>
            </tr>
            {% endfor %}
        </table>
        <img src="https://api.mapbox.com/styles/v1/mapbox/light-v10/static/{{long}},{{lat}},14/500x300?access_token=pk.eyJ1IjoicWluYmd1em1hbiIsImEiOiJjbGEwa285MWcwcDZjM3FuejZlczN3cGs3In0.asqQIAvDhevHTTJH-0YOHQ">

    </body>
</html>